{% extends 'layout.html' %}

{% block content %}
<div class="container"><br>
<form method="post">
	{% csrf_token %}
        <fieldset>
          <legend>REGISTRO DE SOLICITUD</legend><br>
          <div class="form-group">
            <label for="{{form2.nombre.name}}">{{form2.nombre.label}}</label>
            {{form2.nombre}}
          </div>
          <div class="form-group">
            <label for="{{form2.apellido.name}}">{{form2.apellido.label}}</label>
            {{form2.apellido}}
          </div>
          <div class="form-group">
            <label for="{{form2.edad.name}}">{{form2.edad.label}}</label>
            {{form2.edad}}
          </div>
          <div class="form-group">
            <label for="{{form2.email.name}}">{{form2.email.label}}</label>
            {{form2.email}}
          </div>
          <div class="form-group">
            <label for="{{form2.telefono.name}}">{{form2.telefono.label}}</label>
            {{form2.telefono}}
          </div>
          <div class="form-group">
            <label for="{{form2.domicilio.name}}">{{form2.domicilio.label}}</label>
            {{form2.domicilio}}
          </div>
          <div class="form-group">
            <label for="{{form.numero_mascotas.name}}">{{form.numero_mascotas.label}}</label>
            {{form.numero_mascotas}}
          </div>
          <div class="form-group">
            <label for="{{form2.razones.name}}">{{form.razones.label}}</label>
            {{form.razones}}
          </div>

          <button type="submit" class="btn btn-success">GUARDAR</button>
</form><br><br>
</div>
{% endblock %}